.title {
  margin: 0 auto;
}

.cardContent {
  padding: 1vh 1vw 1vh 2vw;
}

#profile {
  width: 40vw;
  height: 40vw;
  max-width: 200px;
  max-height: 200px;
  margin: 0 auto;
  margin-top: 4vh;
}

.iconButton {
  width: 5vw;
  height: 5vw;
  min-width: 50px;
  min-height: 50px;
  max-height: 50px;
  max-width: 50px;
  margin: 0 auto;
  /* background-color: whitesmoke; */
  margin-bottom: 2vh;
}

#linkedin {
  border-radius: 20%;
}

#linkContainer {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-content: center;
  margin-top: 2vh;
  column-gap: 2vw;
}

.linkResize {
  /* display: inline-block; */
  width: 5vw;
  height: 5vw;
  min-width: 50px;
  min-height: 50px;
  margin: 0 auto;
  /* margin-right: 2vw; */
}


.center {
  margin: 0 auto;
}

.card {
  display: block;
  margin: 0 auto;
}

body {
  background-image: url('./images/moon.jpg');
}

#portfolio {
  margin-top: 4vh;
}

h1, h2, h3, h4 {
  color: white;
}

@media only screen and (max-width: 600px) {
 .card {
   max-width: fit-content;
 }
}
